.prev.btn,
.next.btn {
	position: absolute;
	top: 0;
	z-index: 1;

	height: 100vh;
	width: 25%;

	background-color: transparent;
	border-radius: 0;
	border: none;
	cursor: pointer;
	outline: none;
	transition: transform 0.2s ease-in-out;
}

.next.btn {
	right: 0;
}

.prev.btn {
	left: 0;
}

.next.btn::after,
.prev.btn::after {
	display: inline-block;
	transform: translateY(-50%) rotate(45deg);
	content: "";
	width: 50px;
	height: 50px;
}

.next.btn::after {
	border-right: 5px solid #fff;
	border-top: 5px solid #fff;
	border-left: none;
	border-bottom: none;
}

.prev.btn::after {
	border-bottom: 5px solid #fff;
	border-left: 5px solid #fff;
	border-right: none;
	border-top: none;
}

.next.btn:hover::after,
.prev.btn:hover::after {
	transform: translateY(-50%) rotate(45deg) scale(1.2);
}

.next.btn:focus,
.prev.btn:focus,
.next.btn:hover,
.prev.btn:hover {
	outline: none;
}

.next.btn.active::after,
.prev.btn.active::after {
	animation: click 0.5s linear forwards;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-title {
    background-color: #1a1a1a;
    padding: .5rem 0;
    width: 100vw;
    text-align: center;
    position: absolute;
    z-index: 6;
    text-shadow: #333 2px 2px 5px;
    transform: translateX(-50%);
    left: 50%;
    top: 10%;
}


.slide.active {
    z-index: 1;
}

.slide.inactive {
	display: none;
}

.slide-away-left > * {
	animation: slideAwayLeft 2s normal both ease-in-out;
}

.slide-in-right > * {
	animation: slideInRight 2s normal both ease-in-out;
}

.slide-away-right > * {
	animation: slideAwayRight 2s normal both ease-in-out;
}

.slide-in-left > * {
	animation: slideInLeft 2s normal both ease-in-out;
}

@keyframes slideAwayRight {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	50% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(100%);
		opacity: 0;
	}
}

@keyframes slideAwayLeft {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	50% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(-100%);
		opacity: 0;
	}
}

@keyframes slideInRight {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes click {
	0% {
		transform: translateY(-50%) rotate(45deg) scale(1.2);
	}
	50% {
		transform: translateY(-50%) rotate(45deg) scale(0.8);
	}
	90% {
		transform: translateY(-50%) rotate(45deg) scale(1.3);
	}
	100% {
		transform: translateY(-50%) rotate(45deg) scale(1.2);
	}
}
