.image-slider {
	position: relative;
	/* Styles for the main slider container */
}

.slide {
    opacity: 0;
    /* transform: translateX(-100%); */
    transition: opacity 0.5s ease-in-out
}

.slide.active {
	opacity: 1;
	/* transform: translateX(0); */
}
.slide-away-left {
	animation: slideAwayLeft 0.5s forwards ease-in-out;
}

.slide-in-right {
	animation: slideAwayRight 0.5s reverse ease-in-out;
}

.slide-away-right {
	animation: slideAwayRight 0.5s forwards ease-in-out;
}

.slide-in-left {
	animation: slideAwayLeft 0.5s reverse ease-in-out;
}

@keyframes slideAwayRight {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}

@keyframes slideAwayLeft {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
