#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
    width: max-content;
}

button:hover,
button:focus,
button {
	border: none;
	outline: none;
}

.game-over-buttons {
	width: 110%;
	display: flex;
	justify-content: space-around;
}

.stats {
    width: 100%;
	display: flex;
    justify-content: space-between;
	align-items: center;
}

.row {
	display: flex;
	font-size: 20px;
}

.cell {
	padding: 0;
	width: 1.5em;
	height: 1.5em;
	border: 1px solid #aaa; /* Light gray border */
	background-color: #333;
	border-radius: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	text-shadow: -2px 0 rgba(200 200 200 / 30%), 2px 0 rgba(200 200 200 / 30%),
		0 -2px rgba(200 200 200 / 30%), 0 2px rgba(200 200 200 / 30%);
	text-align: center;
	user-select: none;
}

.cell:first-child,
.cell:nth-child(odd) {
	border-top: 2px solid #888; /* Darker gray for grid lines */
}

.cell.revealed {
	background-color: #555;
	color: white;
}

.cell.flagged {
	/* background-color: red; */
	color: white;
}

.cell.one {
	color: blue;
}

.cell.two {
	color: green;
}

.cell.three {
	color: red;
}

.cell.four {
	color: darkblue;
}

.cell.five {
	color: darkred;
}

.cell.six {
	color: purple;
}

.cell.seven {
	color: darkgreen;
}

.cell.eight {
	color: black;
}

.slide > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media only screen and (max-width: 767px) {
	body {
		font-size: 16px;
	}
}
