#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: max-content;
}

button:hover,
button:focus,
button {
	border: none;
	outline: none;
}

.game-over-buttons {
	width: 110%;
	display: flex;
	justify-content: space-around;
}

.bottom-buttons {
	position: fixed;
	bottom: 1rem;
	z-index: 10;
	left: 50%; /* Center horizontally */
	transform: translateX(-50%); /* Adjust horizontal alignment */
	max-width: 95%; /* Prevent overflowing the viewport horizontally */
	box-sizing: border-box; /* Ensure padding is included in the size */
	text-align: center; /* Center-align text */
	overflow: hidden; /* Prevent content overflow */
}

.bottom-buttons > button {
	transition: none;
	border: #888 5px solid;
	background-color: #444;
}

.bottom-buttons > .active {
	background-color: #555;
	border: #888 5px solid !important;
	text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.7);
}

.bottom-buttons > button:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}

.bottom-buttons > button:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: none;
}

.stats {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.row {
	display: flex;
	font-size: 20px;
}

.cell {
	padding: 0;
	width: 1.5em;
	height: 1.5em;
	border: 1px solid #aaa; /* Light gray border */
	background-color: #333;
	border-radius: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	text-shadow: -2px 0 rgba(200 200 200 / 30%), 2px 0 rgba(200 200 200 / 30%),
		0 -2px rgba(200 200 200 / 30%), 0 2px rgba(200 200 200 / 30%);
	text-align: center;
	user-select: none;
}

.cell:first-child,
.cell:nth-child(odd) {
	border-top: 2px solid #888; /* Darker gray for grid lines */
}

.cell.revealed {
	background-color: #555;
	color: white;
}

.cell.flagged {
	/* background-color: red; */
	color: white;
}

.cell.one {
	color: blue;
}

.cell.two {
	color: green;
}

.cell.three {
	color: red;
}

.cell.four {
	color: darkblue;
}

.cell.five {
	color: darkred;
}

.cell.six {
	color: purple;
}

.cell.seven {
	color: darkgreen;
}

.cell.eight {
	color: black;
}

.slide > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media only screen and (max-width: 767px) {
	body {
		font-size: 16px;
	}

	.App {
		height: 100vh;
		width: 100%;
	}

    .App > h1 {
        z-index: 10;
        position: fixed;
        top: 0;
        margin: 0;
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Adjust horizontal alignment */
        max-width: 100%; /* Prevent overflowing the viewport horizontally */
        box-sizing: border-box; /* Ensure padding is included in the size */
        text-align: center; /* Center-align text */
        overflow: hidden; /* Prevent content overflow */
        width: 100%;
        background-color: rgb(0, 0, 0, 0.5);
        padding: 2rem 0;

    }

	.game-over-buttons {
		position: fixed;
		bottom: 1rem;
		z-index: 10;
		left: 50%; /* Center horizontally */
		transform: translateX(-50%); /* Adjust horizontal alignment */
		max-width: 95%; /* Prevent overflowing the viewport horizontally */
		box-sizing: border-box; /* Ensure padding is included in the size */
		text-align: center; /* Center-align text */
		overflow: hidden; /* Prevent content overflow */
	}

	.stats {
		position: fixed;
		top: 10px;
		z-index: 10;
		left: 50%; /* Center horizontally */
		transform: translateX(-50%); /* Adjust horizontal alignment */
		max-width: 95%; /* Prevent overflowing the viewport horizontally */
		box-sizing: border-box; /* Ensure padding is included in the size */
		text-align: center; /* Center-align text */
		overflow: hidden; /* Prevent content overflow */
	}
	.stats > * {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.react-transform-wrapper {
		width: 100vw !important;
		height: 100vh !important;
		overflow: visible !important;
		padding: 3rem !important;
	}
}
