:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

    --cell-size: 1.5em;
    --cell-text-size: 1.25em;

	/* New Colors */

    /*
    --background: #2C3448;
    --cream: #EFE6CF;
	--text: #6D7D98;
	--highlight: #2C3448;
	*/

    /* Old */
    
    --cell-background: #2e3035;
    --alt-cell-background: #3a3d42;
    --background: #242424;
	--text: rgba(255, 255, 255, 0.87);
	--highlight: #1a1a1a; 

    /* Bevel */

    --bevel-width-top: 0.125em;
    --bevel-width-left: 0.125em;
    --bevel-width-right: 0.125em;
    --bevel-width-bottom: 0.125em;

    --bevel-color-top: #4a4e54;
    --bevel-color-left: #4a4e54;
    --bevel-color-right: #1a1c1f;
    --bevel-color-bottom: #1a1c1f;

    --bevel-top: var(--bevel-width-top) solid var(--bevel-color-top);
    --bevel-left: var(--bevel-width-left) solid var(--bevel-color-left);
    --bevel-right: var(--bevel-width-right) solid var(--bevel-color-right);
    --bevel-bottom: var(--bevel-width-bottom) solid var(--bevel-color-bottom);

    --alt-bevel-width-top: 0.125em;
    --alt-bevel-width-left: 0.125em;
    --alt-bevel-width-right: 0.125em;
    --alt-bevel-width-bottom: 0.125em;

    --alt-bevel-color-top: #252729;
    --alt-bevel-color-left: #252729;
    --alt-bevel-color-right: #3e4146;
    --alt-bevel-color-bottom: #3e4146;

    --alt-bevel-top: var(--alt-bevel-width-top) solid var(--alt-bevel-color-top);
    --alt-bevel-left: var(--alt-bevel-width-left) solid var(--alt-bevel-color-left);
    --alt-bevel-right: var(--alt-bevel-width-right) solid var(--alt-bevel-color-right);
    --alt-bevel-bottom: var(--alt-bevel-width-bottom) solid var(--alt-bevel-color-bottom);
	/* Shadows */

	--dark-shadow: 0px 4px 10px rgba(50, 50, 50, 0.7);
	--light-shadow: 0px 4px 10px rgba(200, 200, 200, 0.3);
	--highlight-shadow: 0px 4px 10px rgba(200, 200, 200, 0.5);

    --bomb-icon: "💣";
    --flag-icon: "🚩";
    --full-heart-icon: "❤️";
    --empty-heart-icon: "🖤";

    --full-heart-count: 0;
    --empty-heart-count: 0;

	color-scheme: light dark;
	color: var(--text);
	background-color: var(--background);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bevel {
    border-top: var(--bevel-top);
    border-left: var(--bevel-left);
    border-right: var(--bevel-right);
    border-bottom: var(--bevel-bottom);
    
    /* box-shadow: var(--dark-shadow); */
}

.alt-bevel {
    border-top: var(--alt-bevel-top);
    border-left: var(--alt-bevel-left);
    border-right: var(--alt-bevel-right);
    border-bottom: var(--alt-bevel-bottom);
    
    /* box-shadow: var(--dark-shadow); */
}

.bevel-wide {
    border-top: var(--bevel-top);
    border-left: var(--bevel-left);
    border-right: var(--bevel-right);
    border-bottom: var(--bevel-bottom);

    box-shadow: var(--dark-shadow);
    border-width: 3px;
}

a {
	font-weight: 500;
	/* color: #646cff; */
	text-decoration: inherit;
}
/* a:hover {
  color: #535bf2;
} */

body {
	margin: 0;
	display: flex;
	place-items: center;
	width: 110vw;
	height: 110vh;
    position: fixed;
    top: -5vh;
    left: -5vw;
    padding: 5vh 5vw;
    background-color: var(--background);
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button,
.button {
	border-radius: 8px;
	/* border: 1px solid transparent; */
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--highlight);
	cursor: pointer;
	transition: border-color 0.25s;
	color: var(--text);
}

.stealth-button {
	background-color: transparent;
	transition: background-color 0.25s;
}

.stealth-button:hover {
	background-color: var(--highlight);
}

/* button:hover {
  border-color: #646cff;
} */
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
} */
