:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

    --cell-size: 1.5em;
    --cell-text-size: 1.25em;

	/* New Colors */

    /*
    --background: #2C3448;
    --cream: #EFE6CF;
	--text: #6D7D98;
	--highlight: #2C3448;
	*/

    /* Old */
    
    --background: #242424;
	--text: rgba(255, 255, 255, 0.87);
	--highlight: #1a1a1a; 
    --transparent-background: #1a1a1aa0;

    /* Game Over Title */

    --game-over-card-width: 100vw;
    --game-over-card-padding: 0.5rem 0;

    /* Buttons */

    --button-radius: 0.5em;
    --button-border: none;
    --button-padding: 0.6em 1.2em;

    /* Bottom Buttons */
    --bottom-button-background: #555;
    --bottom-button-inactive-overlay: #181a1b;
    --bottom-button-active-overlay: transparent;

    --bottom-button-first-border-radius: var(--button-radius) 0 0 var(--button-radius);
    --bottom-button-last-border-radius: 0 var(--button-radius) var(--button-radius) 0;

    /* Board */
    --board-font-size: 20px;

    /* Bevel */

    --bevel-width-top: 0.125em;
    --bevel-width-left: 0.125em;
    --bevel-width-right: 0.125em;
    --bevel-width-bottom: 0.125em;

    --bevel-color-top: #4a4e54;
    --bevel-color-left: #4a4e54;
    --bevel-color-right: #1a1c1f;
    --bevel-color-bottom: #1a1c1f;

    --bevel-top: var(--bevel-width-top) solid var(--bevel-color-top);
    --bevel-left: var(--bevel-width-left) solid var(--bevel-color-left);
    --bevel-right: var(--bevel-width-right) solid var(--bevel-color-right);
    --bevel-bottom: var(--bevel-width-bottom) solid var(--bevel-color-bottom);

    --alt-bevel-width-top: 0.125em;
    --alt-bevel-width-left: 0.125em;
    --alt-bevel-width-right: 0.125em;
    --alt-bevel-width-bottom: 0.125em;

    --alt-bevel-color-top: #252729;
    --alt-bevel-color-left: #252729;
    --alt-bevel-color-right: #3e4146;
    --alt-bevel-color-bottom: #3e4146;

    --alt-bevel-top: var(--alt-bevel-width-top) solid var(--alt-bevel-color-top);
    --alt-bevel-left: var(--alt-bevel-width-left) solid var(--alt-bevel-color-left);
    --alt-bevel-right: var(--alt-bevel-width-right) solid var(--alt-bevel-color-right);
    --alt-bevel-bottom: var(--alt-bevel-width-bottom) solid var(--alt-bevel-color-bottom);
	
    /* Shadows */

	--dark-shadow: 0px 4px 10px rgba(50, 50, 50, 0.7);
	--light-shadow: 0px 4px 10px rgba(200, 200, 200, 0.3);
	--highlight-shadow: 0px 4px 10px rgba(200, 200, 200, 0.5);

    /* Cells */
    --cell-background: #2e3035;
    --alt-cell-background: #3a3d42;

    --cell-hover-background: #363a40;
    --cell-revealed-hover-background: #424750;
    --cell-revealed-mine-background: #3a3d4270;

    --cell-revealed-color: white;
    --cell-flagged-color: white;

    --cell-border-radius: 0px;

    --t-1: "1";
    --t-2: "2";
    --t-3: "3";
    --t-4: "4";
    --t-5: "5";
    --t-6: "6";
    --t-7: "7";
    --t-8: "8";

    /* Idk
    --c-1: darkblue;
    --c-2: #007700;
    --c-3: maroon;
    --c-4: teal;
    --c-5: darkgreen;
    --c-6: purple;
    --c-7: black;
    --c-8: #707070;
    */

    /* Original minesweeper
    --c-1: #0000f7;
    --c-2: #007700;
    --c-3: #ec0000;
    --c-4: navy;
    --c-5: maroon;
    --c-6: teal;
    --c-7: black;
    --c-8: #707070;
    */

    /* Old */
    --c-1: blue;
    --c-2: green;
    --c-3: red;
    --c-4: darkblue;
    --c-5: darkred;
    --c-6: purple;
    --c-7: darkgreen;
    --c-8: black;
    

    /* Icons */
    --bomb-icon: "💣";
    --flag-icon: "🚩";
    --full-heart-icon: "❤️";
    --empty-heart-icon: "🖤";

    --full-heart-count: 0;
    --empty-heart-count: 0;

    /* Mobile */
    --mobile-font-size: 16px;


	color-scheme: light dark;
	color: var(--text);
	background-color: var(--background);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bevel {
    border-top: var(--bevel-top);
    border-left: var(--bevel-left);
    border-right: var(--bevel-right);
    border-bottom: var(--bevel-bottom);
    
    /* box-shadow: var(--dark-shadow); */
}

.alt-bevel {
    border-top: var(--alt-bevel-top);
    border-left: var(--alt-bevel-left);
    border-right: var(--alt-bevel-right);
    border-bottom: var(--alt-bevel-bottom);
    
    /* box-shadow: var(--dark-shadow); */
}

.bevel-wide {
    border-top: var(--bevel-top);
    border-left: var(--bevel-left);
    border-right: var(--bevel-right);
    border-bottom: var(--bevel-bottom);

    box-shadow: var(--dark-shadow);
    border-width: 3px;
}

a {
	font-weight: 500;
	/* color: #646cff; */
	text-decoration: inherit;
}
/* a:hover {
  color: #535bf2;
} */

body {
	margin: 0;
	display: flex;
	place-items: center;
	width: 110vw;
	height: 110vh;
    position: fixed;
    top: -5vh;
    left: -5vw;
    padding: 5vh 5vw;
    background-color: var(--background);
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button,
.button {
	border-radius: var(--button-radius);
	border: var(--button-border);
	padding: var(--button-padding);
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--highlight);
	cursor: pointer;
	transition: border-color 0.25s;
	color: var(--text);
}

.stealth-button {
	background-color: transparent;
	transition: background-color 0.25s;
}

.stealth-button:hover {
	background-color: var(--highlight);
}

/* button:hover {
  border-color: #646cff;
} */
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
} */
